*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #e0e0e0;
}
header {
  width: 100%;
}
nav {
  margin: 20px;
  margin-top: 40px;
  width: 95%;
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat Alternates", sans-serif;
  align-items: center;
}

#name {
  letter-spacing: 3px;
  color: rgb(32, 32, 32);
  margin-left: 5%;
  font-weight: 600;
  font-size: 60px;
  align-self: center;
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  width: 5%;
  color: rgb(32, 32, 32);
  align-items: flex-end;
  font-weight: 300;

  letter-spacing: 1px;
}

li {
  list-style: none;
}

.hero-text {
  display: flex;
  width: 80vw;
  justify-content: center;
  margin: auto;
}

#hero-par {
  font-size: 6vw;
  font-family: "Playfair Display", serif;
}
.section {
  width: 80%;
  margin: 0 auto;
  height: 10vh;
  position: relative;
  padding: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.hscroll-line {
  
  height: 5px;
  position: absolute;
  overflow: hidden;
  width: 50px;
  transform: rotate(90deg);
  transform-origin: 50% 50%;
  
}

.hscroll-line::before,
.hscroll-line::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}

.hscroll-line:before {
  background: #ffffff3b;
}

.hscroll-line::after {
  background: #000000;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translate3d(-200%, 0, 0);
  }
  60% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
@media only screen and (max-width:600px) {
  .section{
    visibility: hidden;
  }
  .nav-links{
    visibility: hidden;
  }
}