*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  scrollbar-width: none;
}
#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
header {
    margin: auto;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: #000000 1px solid;
    font-size: 12px;
    height: 60px;
    
  }
  a{
    text-decoration: none;
    color: #000000;
  }
.progress{
  
    width: 60%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items:flex-end;
    margin: auto;
}
.title{ 
    width: 95%;
    font-family: monospace;
    font-size: 16px;
    color: rgb(222, 231, 233);
}

.freelancer {
  width: 60%;
  margin: 50px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#free_img{
  width: 75%;
  align-self: flex-start;
  box-shadow: 10px 5px 10px rgba(0,0,0,0.3);
  opacity: 0.95;

}
.freelancer div {
  width: 200px;
  font-family: monospace;
  color: rgb(222, 231, 233);
}

.colorful {
  position: relative;
  width: 60%;
  margin: 100px auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#color_landing{
  width: 75%;
  align-self: flex-start;
  box-shadow: 10px 5px 10px rgba(0,0,0,0.3);
  opacity: 0.95;

}
#color_mock {
  height: 80%;
  position: absolute;
  top: 20%;
  left: 68.7%;
  opacity: 0.6;
}

.colorful div {
  width: 200px;
  font-family: monospace;
  color: rgb(222, 231, 233);
}

.otherwork {
  position: relative;
  width: 60%;
  margin: 10px auto;
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  opacity: 0.9;
}
.resize {
 width: clamp(30%, 40%, 600px);
 
}
footer {
 
  margin-bottom: 30px;
  width: 100vw;
  display:flex;
  justify-content: end;
}