*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFB1B1;
  
  
  
}
header {
  width: 100%;
}
nav {
  margin: 20px;
  margin-top: 40px;
  width: 95%;
  display: flex;
  justify-content: flex-end;
  
  align-items: center;
  
}

#name {
  letter-spacing: 3px;
  color: #FF004A;
  margin-bottom: 10PX; 
  font-weight: 600;
  font-size: 1.5vw;
}

.nav-links {
  display: flex;
  flex-direction: column;
  margin-right: 2%;
  width: 5%;
  
  align-items: flex-end;
  font-weight: 300;

  letter-spacing: 1px;
}

li {
  list-style: none;
}
a{
  text-decoration: none;
  color:#FF004A;
}


.hero {
  flex-direction: column;
  display: flex;
  width: 80vw;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5%;
}

#hero-par { 
  margin-bottom: %;
  font-size: 6vw;
  font-family: "Abril Fatface", serif;
  text-align: center;
  max-width: 30vw; 
}
.section {
  width: 80%;
  margin: 0 auto;
  height: 10vh;
  position: relative;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hscroll-line {
  height: 10px;
  position: absolute;
  overflow: hidden;
  width: 50px;
  
  transform-origin: 50% 50%;
}

.hscroll-line::before,
.hscroll-line::after {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  content: "";
}

.hscroll-line:before {
  background: #ffffff3b;
}

.hscroll-line::after {
  background: #000000;
  animation: move 3s infinite;
}

@keyframes move {
  0% {
    transform: translate3d(-200%, 0, 0);
  }
  60% {
    transform: translate3d(100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
@media only screen and (max-width: 600px) {
  .section {
    visibility: hidden;
  }
  .nav-links {
    visibility: hidden;
  }
  header{
    visibility: hidden;
  }
  .hero-text{
    
    position: absolute;
    top: 50px;
    left: 50px;
  }
  #hero-par{
    font-size: 10vw;
    
  }
}
